.item1{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/about_us1.webp") no-repeat;
}
.item2{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/about_us2.jpg") no-repeat;
}
.item3{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/about_us3.jpg") no-repeat;   
}
.item1,.item2,.item3{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
ul{
    width: 100%;
    justify-content: center;
}
.navbar{
    border-bottom: 2px solid rgba(255, 255, 255, 0.144);
    position: fixed;
    width: 100%;
}
.navbar_container {
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.navbar-brand{ 
    color: rgb(255, 255, 255) !important;
    font-size: 1.5rem;
    position: absolute;
    left: 20%;
}
.nav-link{
    font-size: 12px;
    color: rgb(255, 255, 255) !important;
}
.nav-link:hover{
    font-weight: bold;
    color: white;
    background: linear-gradient( rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.13) );
}

.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.contact_us_btn{
    position: absolute;
    right: 16%;
}
.rounded-3{
    font-size: 13px;
    border-radius: 12px;
    background: linear-gradient( rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.13) );
    padding: 8px 24px !important;
    outline: none;
    box-shadow: none;
} 
.badge{
    font-size: 10px;
}
.dropdown-menu{
    background-color: transparent;
    border-radius: 0;
    border: none;
}
.dropdown-item{
    color: white;
    font-size: 14px
}
.dropdown-item:hover{
    background: linear-gradient( rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.13) );
    font-weight: bold;
    color: white;
}
.img_text{
    height: 100%;
    position:absolute;
    top: 22%;
    left:20%
}
.img_text p{
    font-weight:light;
    font-size: 3em;
    color: white;
} 
.img_text small{
    color: white;
    display: block;
    font-size: 12px;
}

.business_text small,
.experience2_text small{
    display: block;
    font-size: 14px;
    color:rgb(163, 163, 163);
    font-size: 12px;
}
.business_text1,
.experience2_text p{
    font-size: 1.5rem;
    color: #081169;
    font-weight: 400;
    padding-top: 5px;
}
.business_small{
    display: block;
    font-size: 14px;
    color:rgb(163, 163, 163);
}
.business_text2 p{
    color: #5f5f5f;
    font-weight: 500;
    padding-top: 20px;
}
.about_us_txt{
    position: absolute;
    bottom: 0;right: 0;
}

.card{
    border: none;
    box-shadow: 2px 2px 20px #c4c4c4;
}
.cards_bg{
    background: linear-gradient( #ffffff, #ffffff );
}

.digital_text small,
.experience_text small{
    font-size: 11px;
    display: block;
    color:rgb(163, 163, 163);
}
.digital_text p{
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 10px 0 0;
}
.digital_text2 small{
    display: block;
    font-size: 12px;
    color:rgb(163, 163, 163);
}
.digital_text2 p{
    color: #ffffff;
    font-weight: 400;
    padding-top: 20px;
}

footer { 
    width:100%;
    background-color:#34344e;
    min-height:250px;
    padding:10px 0px 5px 0px ;
}
.col_white_heading {
    color:#FFF;
}
.pt2 { 
    padding-top:40px ; 
    margin-bottom:20px ;
}
footer p { 
    font-size:13px; 
    color:#CCC;
    padding-bottom:0px; 
    margin-bottom:8px;
}
.footer_ul_ { 
    margin:0px ; 
    list-style-type:none ; 
    font-size:14px; 
    padding:0px 0px 10px 0px ; 
}
.footer_ul_ li {
    padding:0px 0px 5px 0px;
}
.footer_ul_ li a{
    color:rgb(185, 185, 185);
    text-decoration:none;
}
.footer_ul_ li a:hover{ 
    color:#fff;
}
.footer_ul2_ {
    margin:0px;
    list-style-type:none; 
    padding:0px;
}
.footer_ul2_ li p { 
    display:table;
    color: #fff;
    font-size: 12px;
}
.footer_ul2_ li a {
    text-decoration:none;
}
.footer_ul2_ li i { 
    margin-top:5px;
}
.bottom_border { 
    border-bottom:1px solid rgba(255, 255, 255, 0.144);
    padding-bottom:20px;
}
.footer_bottom_ul_ {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto
}
.footer_bottom_ul_ li { 
     display:inline;
}
.footer_bottom_ul_ li a {
    color:#999;
    margin:0 15px;
    text-decoration:none;
    font-size: 12px;
}   
.social_footer_ul { 
    display:table; 
    margin:15px auto 0 auto;
    list-style-type:none; 
}
.social_footer_ul li { 
    padding-left:20px;
    padding-top:10px; 
    float:left;
}
.social_footer_ul li a { 
    color:#CCC; 
    border:1px solid #CCC;
    padding:8px;
    border-radius:50%;
}
.social_footer_ul li i { 
     width:20px; 
     height:20px; text-align:center;
}
.badge{
    position: relative;
    top: -15px;
    right: 15px;
    padding: 3px 8px;
    border-radius: 50%;
    background: rgb(14, 194, 14);
    color: white;
}

@media only screen and (max-width: 768px) {
    .navbar{
        background: #000000 !important;
    }
    .navbar-brand{
        position: absolute;
        left:0% !important;
    }
    .rounded-3{
        margin-top: 15px !important;
        position: relative;
        left: 0%;
    }
    .img_text{
        height: 100%;
        position:absolute;
        top: 30%;
        left:10%
    }
    .img_text p{
        font-size: 1.8em;
    }
    .footer_info,
    .useful_links,
    .products_,
    .resources,
    .newsletter{
        text-align: center;
    }
    #sitemap{
        padding-right: 15px;
    }
    #search_{
        position: relative;
        left: 6%;
    }
    .badge{
        position: relative;
        top: -15px;
        right: 15px;
        padding: 3px 8px;
        border-radius: 50%;
        background: rgb(14, 194, 14);
        color: white;
    }
    .about_us_txt{
        position: absolute;
        top :20%;
        left: 5% !important;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .navbar-brand{
        position: relative;
        left: 0%;
    }
    .contact_us_btn{
        position: absolute;
        right: 8%;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-brand{
        position: relative;
        left: 10%;
    } 
}