.item1{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/nav_img.jpg") no-repeat;
}
.item2{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/nav_img2.jpg") no-repeat;
}
.item3{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/nav_img3.jpg") no-repeat;   
}
.item1,.item2,.item3{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
ul{
    width: 100%;
    justify-content: center;
}
.navbar{
    border-bottom: 2px solid rgba(255, 255, 255, 0.144);
    position: fixed;
    width: 100%;
}
.navbar_container {
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.navbar-brand{ 
    color: white !important;
    font-size: 1.5rem;
    position: absolute;
    left: 20%;
}
.nav-link{
    font-size: 12px;
    color: white !important;
    margin:2px;
}
.nav-link:hover{
    font-weight: bold;
    color: white;
    background: linear-gradient( rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.13) );
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.contact_us_btn{
    position: absolute;
    right: 16%;
}
.rounded-3{
    font-size: 13px;
    border-radius: 12px;
    background: linear-gradient( rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.13) );
    padding: 8px 24px !important;
    outline: none;
    box-shadow: none;
} 
.dropdown-menu{
    background-color: transparent;
    border-radius: 0;
    border: none;
}
.dropdown-item{
    color: white;
    font-size: 14px
}
.dropdown-item:hover{
    background: linear-gradient( rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.13) );
    font-weight: bold;
    color: white;
}
.badge{
    font-size: 10px;
}
.img_text{
    height: 100%;
    position: relative;
    top: 40%;
}
.img_text p{
    font-weight:light;
    font-size: 2.4rem;
    color: white;
} 
.img_text small{
    color: white;
}
.div2_text small,
.trusted_text,
.projects small{
    font-size: 12px;
    color: rgb(155, 155, 155);
}
.div2_heading, .div3_heading,.projects p{
    display: block;
    font-size: 1.5rem;
    color: #020733;
    font-weight: 500;
    padding: 10px 0;
}
.div2_text p, .div3_text p{
    font-size: 14px;
    color: rgb(112, 122, 155);
}
.div2_img1{
    position: relative;
    top: 10%;
    left: -20%;
}
.div2_img2{
    position: relative;
    top: 20%;
    left:40%
}
.div3{
    background: #e4e2e2;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    align-items: center;
}
.div3_box{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.list-group-item {
    width: 350px;
    margin-bottom: 20px;
    box-shadow:  inset 0 -3em 2em rgba(142, 144, 250, 0.1),0.3em 0.3em 0.5em rgba(136, 145, 235, 0.3);
    border-radius: 5px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.box2{
    margin-left: 100px;
}
.icons_text{
    padding: 0 20px;
}
.icons .fa{
    font-size: 20px;
    padding: 15px ;
    margin: 10px 0 5px 10px ;
    background-color: rgb(205, 255, 222);
    border-radius: 50%;
}
.fa-line-chart{
    color: rgb(93, 93, 250);
}
.fa-university{
    color: rgb(250, 173, 101);
}
.fa-envelope{
    color: rgb(58, 255, 124);
}
.div3_text small{
    font-size: 12px;
    color: rgb(99, 139, 250);
}
.app_div{
    background: linear-gradient( #60A9F9, #3876E7 ) ;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.app_div_text{
    padding-left: 40px;
}
.app_div p{
    color: white;
    font-size: 20px;
}
.app_div small{
    color: white;
    font-size: 12px;
    display: block;
    padding-bottom: 5px;
}
.cradit_score{
    margin-left: 20px;
    margin-bottom: 20px;
    background: linear-gradient( #536CD8, #837FF0 ) ;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.cradit_score_text{
    padding: 40px 0 0 50px;
}
.cradit_score small{
    color: white;
    font-size: 12px;
    display: block;
}
.cradit_score p{
    color: white;
    font-size: 20px;
}
.tracking_tool{
    margin-right: 20px;
    background: linear-gradient( #FBC03C, #FFDC88 ) ;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.tracking_tool_text{
    padding: 40px 0 0 50px;
}
.tracking_tool small{
    color: white;
    font-size: 12px;
    display: block;
}
.tracking_tool p{
    color: white;
    font-size: 20px;
}
.money_div{
    margin-right: 20px;
    background: linear-gradient( #FB7E55, #FCA388 ) ;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.money_div_text{
    padding-left: 20px;
    padding-top: 20px;
}
.money_div p{
    color: white;
    font-size: 20px;
}
.money_div small{
    color: white;
    font-size: 12px;
    display: block;
    padding-bottom: 5px;
}
.contact_us{
    background-color: rgb(253, 247, 247);
    padding: 80px 0 !important;
}
.contact_us p{
    font-size: 2rem;
    color: #081169;
    font-weight: 300;
}
.contact_us small,
.business_text small{
    display: block;
    font-size: 14px;
    color:rgb(163, 163, 163);
}
.business_text small{
    font-size: 12px;
}
.business_text p{
    font-size: 1.5rem;
    color: #081169;
    font-weight: 400;
    padding-top: 5px;
}
.business_text2 small{
    display: block;
    font-size: 14px;
    color:rgb(163, 163, 163);
}
.business_text2 p{
    color: #081169;
    font-weight: 400;
    padding-top: 20px;
}
.card{
    border: none;
}
.cards_bg{
    background: linear-gradient( #e7e7e7, #e7e7e7 );
}
.financial_text{
    background-color: rgb(255, 255, 255);
    padding: 50px 0 !important;
}
.financial_text p{
    padding-top: 40px;
    font-size: 1.5rem;
    color: #081169;
    font-weight: 400;
}
.cards_4 i{
    background-color: #34344e;
}
.cards_4 p{
    color: white;
    font-size: 18px;
    padding: 10px 0;
}
.cards_4 small{
    color: rgb(146, 146, 146);  
    font-size: 12px;  
}
.cards_container{
    background-color: #34344e;
    border-radius: 5px;
    box-shadow:1px 1px 15px #34344e;
}
.client_text{
    background-color: rgb(245, 249, 255);
    padding: 50px 0 !important;
}
.client_text p{
    font-size: 1.9rem;
    color: #081169;
    font-weight: 300;
}
.ready_text{
    background-color: rgb(255, 255, 255);
}
.ready_text p{
    padding-top: 40px;
    font-size: 2em;
    color: #081169;
    font-weight: 400;
}
.buttons2{
    padding: 40px;
}
.col_white_heading {
    color:#FFF;
}
.current{
    background-color:rgba(255, 255, 255, 0.144);
}
footer { 
    width:100%;
    background-color:#34344e;
    min-height:250px;
    padding:10px 0px 5px 0px ;
}
.pt2 { 
    padding-top:40px ; 
    margin-bottom:20px ;
}
footer p { 
    font-size:13px; 
    color:#CCC;
    padding-bottom:0px; 
    margin-bottom:8px;
}
.footer_ul_ { 
    margin:0px ; 
    list-style-type:none ; 
    font-size:14px; 
    padding:0px 0px 10px 0px ; 
}
.footer_ul_ li {
    padding:0px 0px 5px 0px;
}
.footer_ul_ li a{
    color:rgb(185, 185, 185);
    text-decoration:none;
}
.footer_ul_ li a:hover{ 
    color:#fff;
}
.footer_ul2_ {
    margin:0px;
    list-style-type:none; 
    padding:0px;
}
.footer_ul2_ li p { 
    display:table;
    color: #fff;
    font-size: 12px;
}
.footer_ul2_ li a {
    text-decoration:none;
}
.footer_ul2_ li i { 
    margin-top:5px;
}
.bottom_border { 
    border-bottom:1px solid rgba(255, 255, 255, 0.144);
    padding-bottom:20px;
}
.footer_bottom_ul_ {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto
}
.footer_bottom_ul_ li { 
     display:inline;
}
.footer_bottom_ul_ li a {
    color:#999;
    margin:0 15px;
    text-decoration:none;
    font-size: 12px;
}   
.social_footer_ul { 
    display:table; 
    margin:15px auto 0 auto;
    list-style-type:none; 
}
.social_footer_ul li { 
    padding-left:20px;
    padding-top:10px; 
    float:left;
}
.social_footer_ul li a { 
    color:#CCC; 
    border:1px solid #CCC;
    padding:8px;
    border-radius:50%;
}
.social_footer_ul li i { 
     width:20px; 
     height:20px; text-align:center;
}
.badge{
    position: relative;
    top: -15px;
    right: 15px;
    padding: 3px 8px;
    border-radius: 50%;
    background: rgb(14, 194, 14);
    color: white;
}

@media only screen and (max-width: 768px) {
    .navbar{
        background: #000000 !important;
    }
    .navbar-brand{
        position: absolute;
        left:0% !important;
    }
    .rounded-3{
        margin-top: 15px !important;
        position: relative;
        left: 0%;
    }
    .div2_img1{
        position:relative;
        top: -40%;
        left: 5%;
    }
    .div2_img2{
        position: relative;
        top: 20%;
        left: 25%;
    }
    .list-group-item{
        width: 100%;
    }
    .box2{
        margin-left: 0;
    }
    .cradit_score{
        margin-left: 0;
        margin-bottom: 0;
    }
    .cradit_score_img,
    .tracking_tool_img,
    .money_img{
        width: 100%;
    }
    .cradit_score_text,
    .money_div_text,
    .tracking_tool_text{
        padding: 30px 0 0 30px;
    }
    .app_div_text{
        padding-left: 10px;
    }
    .money_img{
        margin: 0;
    }
    .app_div{
        margin-right: 20px;
    }
    .cards_4{
        border-bottom: 1px solid rgb(102, 101, 101);
        border-right: none !important ;
    }
    .buttons2 span{
        display: block;
    }
    .footer_info,
    .useful_links,
    .products_,
    .resources,
    .newsletter{
        text-align: center;
    }
    #sitemap{
        padding-right: 15px;
    }
    #search_{
        position: relative;
        left: 6%;
    }
    .badge{
        position: relative;
        top: -15px;
        right: 15px;
        padding: 3px 8px;
        border-radius: 50%;
        background: rgb(14, 194, 14);
        color: white;
    }
}

@media (min-width:769px) and (max-width:1024px){
    
    .navbar-brand{
        position: relative;
        left: 0%;
    }
    .cradit_score_img,
    .tracking_tool_img,
    .money_img{
        width: 100%;
    }
    .contact_us_btn{
        position: absolute;
        right: 8%;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-brand{
        position: relative;
        left: 10%;
    } 
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel2-inner .carousel-item.active,
.carousel2-inner .carousel-item-next,
.carousel2-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel2-inner .carousel-item-end.active,
    .carousel2-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel2-inner .carousel-item-start.active, 
    .carousel2-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel2-inner .carousel-item-end,
.carousel2-inner .carousel-item-start { 
  transform: translateX(0);
}